$yellow: #EBE6AE;

.user_info {
  width: 100%;
  background-color: $yellow;
  padding: 15px;
  border-radius: 8px;
  margin: 15px 0px;
  min-height: 175px;

  .user_img {
    height: 150px;
    float: left;
    margin-right: 15px;
    border-radius: 8px;
  }

  .user_name {
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
  }

  a {
    font-weight: 900;
    color: #7A785B;
  }

  a:hover {
    text-decoration: none;
    color: #333;
  }

}

.jumbotron {
  background-color: $yellow;
  background-image: url("./../../images/github-mark.png");
  background-size: 18em;
  background-repeat: no-repeat;
  background-position: right;
}

body {
  h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    color: black !important;
  }
  font-family: 'Playfair Display', serif;
}

.btn {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
  background-color: $yellow !important;
}

input {
  border-radius: 8px;
}
